<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustatIF</title>
    <meta name="author" content="Marc-Antoine Fernandes, Lucas Ono, Ye Yuan">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- FONTS AND CSS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css">
    <link rel="stylesheet" href="index.css">

    <script src="//unpkg.com/vue/dist/vue.min.js" defer></script>
    <script src="//unpkg.com/vue-material/dist/vue-material.js" defer></script>
    <script src="//unpkg.com/vue-router/dist/vue-router.min.js" defer></script>
    <script src="//unpkg.com/vue-resource/dist/vue-resource.min.js" defer></script>
    <script src="index.js" defer></script>
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>


<!------- COMPONENTS -------->

<!--------------------->
<!------- CARD -------->
<!--------------------->

<script type="text/x-template" id="home-app-component">
    <div class="home-app-component">
        <md-toolbar class="md-dense">
            <h2 class="md-title" style="flex: 1">Gustat'IF</h2>
        </md-toolbar>

        <md-card md-with-hover>
            <md-card-header>
                <div class="md-title">Bonjour, que souhaitez-vous faire ?</div>
            </md-card-header>

            <md-card-content>
                <router-link tag="md-button" to="/auth/signup" class="md-raised md-primary">Créer un compte
                </router-link>
                <router-link tag="md-button" to="/auth/login" class="md-raised md-primary">S'identifier</router-link>
            </md-card-content>

        </md-card>

    </div>
</script>

<script type="text/x-template" id="login-component">
    <div class="login-component">
        <form @submit.stop.prevent="login">
            <md-card md-with-hover>
                <md-card-header>
                    <div class="md-title">S'identifier</div>
                </md-card-header>

                <md-card-content>

                    <md-input-container>
                        <label>Mail</label>
                        <md-input required type="email" v-model="form.mail"></md-input>
                        <span class="md-error">Vous devez entrer un mail valide</span>
                    </md-input-container>

                    <md-input-container>
                        <label>Mot de passe</label>
                        <md-input required type="password" v-model="form.password"></md-input>
                        <span class="md-error">Vous devez entrer un mot de passe</span>
                    </md-input-container>

                    <!-- TODO ERROR MESSAGE -->
                </md-card-content>
                <md-card-actions>
                    <md-button type="submit">Se connecter</md-button>
                </md-card-actions>

            </md-card>
        </form>
    </div>
</script>

<script type="text/x-template" id="signup-component">
    <div class="signup-component">

    </div>
</script>

<script type="text/x-template" id="myaccount-me-component">
    <div class="myaccount-me-component">

    </div>
</script>

<script type="text/x-template" id="myaccount-buy-component">
    <div class="myaccount-buy-component">

    </div>
</script>

<script type="text/x-template" id="myaccount-history-component">
    <div class="myaccount-history-component">

    </div>
</script>

<script type="text/x-template" id="about-component">
    <div class="about-component">

    </div>
</script>

<script type="text/x-template" id="shopping-cart-component">
    <div class="shopping-cart-component">

    </div>
</script>

<script type="text/x-template" id="home-admin-component">
    <div class="home-admin-component">

    </div>
</script>

<script type="text/x-template" id="manager-component">
    <div class="manager-component">

    </div>
</script>

<script type="text/x-template" id="delivery-component">
    <div class="delivery-component">

    </div>
</script>

<script type="text/x-template" id="dashboard-component">
    <div class="dashboard-component">

    </div>
</script>

<script type="text/x-template" id="delivery-history-component">
    <div class="delivery-history-component">

    </div>
</script>

<script type="text/x-template" id="close-delivery-component">
    <div class="close-delivery-component">

    </div>
</script>

</body>
</html>