.home-app-component {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 500px;
}

.login-component {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 500px;
}

.signup-component {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 500px;
}