<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustatIF</title>
    <meta name="author" content="Marc-Antoine Fernandes, Lucas Ono, Ye Yuan">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- FONTS AND CSS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300,400,400i,500,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css">
    <link rel="stylesheet" href="index.css">

    <script src="//unpkg.com/vue/dist/vue.min.js" defer></script>
    <script src="//unpkg.com/vue-material/dist/vue-material.js" defer></script>
    <script src="//unpkg.com/vue-router/dist/vue-router.min.js" defer></script>
    <script src="//unpkg.com/vue-resource/dist/vue-resource.min.js" defer></script>
    <script src="index.js" defer></script>
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>


<!------- COMPONENTS -------->

<!------------------------->
<!------- HOME APP -------->
<!------------------------->

<script type="text/x-template" id="home-app-component">
    <div class="home-app-component">
        <md-toolbar class="md-dense">
            <h2 class="md-title" style="flex: 1">Gustat'IF</h2>
        </md-toolbar>

        <md-card md-with-hover>
            <md-card-header>
                <div class="md-title">Bonjour, que souhaitez-vous faire ?</div>
            </md-card-header>

            <md-card-content>
                <router-link to="/auth/signup">
                    <md-button class="md-raised md-primary">Créer un compte</md-button>
                </router-link>
                <router-link to="/auth/login">
                    <md-button class="md-raised md-primary">S'identifier</md-button>
                </router-link>
                <router-link to="/myaccount">
                    <md-button class="md-raised md-primary">to page buy</md-button>
                </router-link>
            </md-card-content>
        </md-card>
    </div>
</script>


<!---------------------->
<!------- LOGIN -------->
<!---------------------->

<script type="text/x-template" id="login-component">
    <div class="login-component">
        <form @submit.stop.prevent="login">
            <md-card md-with-hover>
                <md-card-header>
                    <div class="md-title">S'identifier</div>
                </md-card-header>

                <md-card-content>

                    <md-input-container>
                        <label>Mail</label>
                        <md-input required type="email" v-model="form.mail"></md-input>
                        <span class="md-error">Vous devez entrer un mail valide</span>
                    </md-input-container>

                    <md-input-container>
                        <label>Mot de passe</label>
                        <md-input required type="password" v-model="form.password"></md-input>
                        <span class="md-error">Vous devez entrer un mot de passe</span>
                    </md-input-container>

                    <!-- TODO ERROR MESSAGE -->
                </md-card-content>
                <md-card-actions>
                    <md-button type="submit">Se connecter</md-button>
                </md-card-actions>

            </md-card>
        </form>
    </div>
</script>


<!----------------------->
<!------- SIGNUP -------->
<!----------------------->

<script type="text/x-template" id="signup-component">
    <div class="signup-component">
        <form @submit.stop.prevent="signup">
            <md-card md-with-hover>
                <md-card-header>
                    <div class="md-title">Créer un compte</div>
                </md-card-header>

                <md-card-content>

                    <md-input-container>
                        <label>Nom</label>
                        <md-input required v-model="form.name"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>Prénom</label>
                        <md-input required v-model="form.surname"></md-input>
                    </md-input-container>
                    <br>
                    <md-input-container>
                        <label>Adresse</label>
                        <md-input required v-model="form.address"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>Mail</label>
                        <md-input required type="email" v-model="form.email"></md-input>
                    </md-input-container>

                    <!-- TODO ERROR MESSAGE -->
                </md-card-content>
                <md-card-actions>
                    <md-button type="submit">Inscription</md-button>
                </md-card-actions>

            </md-card>
            <md-snackbar ref="snackbarSuccess">
                <span>Sign up successful, you will be redirected soon.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Close
                </md-button>
            </md-snackbar>
            <md-snackbar ref="snackbarFail">
                <span>Unable to create account</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Close
                </md-button>
            </md-snackbar>
        </form>
    </div>
</script>


<!--------------------------->
<!------- MY ACCOUNT -------->
<!--------------------------->

<script type="text/x-template" id="myaccount-component">
    <div class="myaccount-component">
        <md-toolbar class="md-dense">
            <h2 class="md-title" style="flex: 1">Mon Compte</h2>

            <md-button class="md-icon-button" @click.native="logout()">
                <md-icon>power_settings_new</md-icon>
            </md-button>
        </md-toolbar>
        <md-tabs md-fixed>
            <md-tab id="myaccount-me-tab" md-label="Modifier mes infos">
                <myaccount-me></myaccount-me>
            </md-tab>
            <md-tab id="myaccount-buy-tab" md-label="Passer une commande">
                <myaccount-buy></myaccount-buy>
            </md-tab>
            <md-tab id="myaccount-history-tab" md-label="Voir mes commandes">
                <myaccount-history></myaccount-history>
            </md-tab>
            <md-tab id="about-tab" md-label="A propos">
                <about></about>
            </md-tab>
        </md-tabs>
    </div>
</script>
<script type="text/x-template" id="myaccount-me-component">
    <div class="myaccount-me-component">
        ME
    </div>
</script>


<!--------------------------------->
<!------- MY ACCOUNT - BUY -------->
<!--------------------------------->

<script type="text/x-template" id="myaccount-buy-component">
    <div class="myaccount-buy-component">
        <form @submit.stop.prevent="buy">
            <div>
                <md-table v_once>
                    <md-table-header>
                        <md-table-row>
                            <md-table-head></md-table-head>
                            <md-table-head>Restaurant</md-table-head>
                            <md-table-head>Description</md-table-head>

                        </md-table-row>
                    </md-table-header>
                    <md-table-body>
                        <md-table-row v-for="(row, rowIndex) in restaurants" :key="rowIndex">
                            <md-radio v-model="selected" :md-value="row"></md-radio>
                            <md-table-cell>
                                {{ row.denomination }}
                            </md-table-cell>
                            <md-table-cell>
                                {{ row.description }}
                            </md-table-cell>
                        </md-table-row>

                    </md-table-body>
                </md-table>
                <md-button class="md-raised md-primary">Selectionner</md-button>
            </div>
        </form>
        PASSER UNE COMMANDE

        <md-dialog md-open-from="#fab" md-close-to="#fab" ref="buy-dialog">
            <md-dialog-title>Choix des plats</md-dialog-title>

            <md-dialog-content>
                Riz cantonais ...
                <!-- TODO CDC PAS DE PANIER FINALEMENT -->
            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="closeDialog('buy-dialog')">Revenir au choix des
                    restaurants
                </md-button>
                <md-button class="md-primary" @click.native="closeDialog('buy-dialog')">Valider la commande</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>

</script>


<!------------------------------------->
<!------- MY ACCOUNT - HISTORY -------->
<!------------------------------------->

<script type="text/x-template" id="myaccount-history-component">
    <div class="myaccount-history-component">
        VOIR L'HISTORIQUE
    </div>
</script>

<!----------------------------------->
<!------- MY ACCOUNT - ABOUT -------->
<!----------------------------------->

<script type="text/x-template" id="about-component">
    <div class="about-component">
        A PROPOS DE
    </div>
</script>


<!--------------------------->
<!------- HOME ADMIN -------->
<!--------------------------->

<script type="text/x-template" id="home-admin-component">
    <div class="home-admin-component">
        <md-toolbar class="md-dense">
            <h2 class="md-title" style="flex: 1">Accueil Employé</h2>
        </md-toolbar>

        <md-card md-with-hover>
            <md-card-header>
                <div class="md-title">Qui êtes-vous ?</div>
            </md-card-header>

            <md-card-content>
                <router-link to="/delivery">
                    <md-button class="md-raised md-primary">Je suis un livreur</md-button>
                </router-link>
                <router-link to="/manager">
                    <md-button class="md-raised md-primary">Je suis le gestionnaire</md-button>
                </router-link>
            </md-card-content>
        </md-card>
    </div>
</script>


<!------------------------>
<!------- MANAGER -------->
<!------------------------>

<!-- TODO JUSTE LA PAGE DASHBOARD AVEC COMME OPTION "Voir livraisons effectuée "-->
<script type="text/x-template" id="manager-component">
    <div class="manager-component">
    </div>
</script>


<!------------------------->
<!------- DELIVERY -------->
<!------------------------->

<!-- TODO PAGE DASHBOARD SANS L'OPTION "Voir livraisons effectuée"-->
<script type="text/x-template" id="delivery-component">
    <div class="delivery-component">
    </div>
</script>


<!-------------------------->
<!------- DASHBOARD -------->
<!-------------------------->

<script type="text/x-template" id="dashboard-component">
    <div class="dashboard-component">
        <md-card md-with-hover>
            <md-card-header>
                <div class="md-title">Dashboard</div>
            </md-card-header>

            <md-card-content>
                <!-- TODO CHECKBOX OU BOUTON & CARTE -->
            </md-card-content>
        </md-card>
    </div>
</script>


<!--------------------------------->
<!------- DELIVERY HISTORY -------->
<!--------------------------------->

<!-- TODO Panel de recherche de livraisons & Tableau livraisons et cloture d'une livraison -->
<script type="text/x-template" id="delivery-history-component">
    <div class="delivery-history-component">

    </div>
</script>


<!------------------------------->
<!------- DELIVERY CLOSE -------->
<!------------------------------->

<script type="text/x-template" id="close-delivery-component">
    <div class="close-delivery-component">

    </div>
</script>

</body>
</html>